.add-option-error {
  color: $light-purple;
  font-style: italic;
  margin: $m-size 0 0 $m-size;
  padding: 0;
}

.add-option {
  display: flex;
  padding: $m-size;
}

.add-option__input {
  flex-grow: 1;
  background: $dark-blue;
  border: none;
  color: $light-purple;
  border-bottom: .3rem solid darken($dark-blue, 10%);
  margin-right: $s-size;
  padding: $s-size;
}
