// Widget Header
.widget {
  background: $light-blue;
  margin-bottom: $xl-size;
}

.widget-header {
  background: $blue;
  color: $light-purple;
  display: flex;
  justify-content: space-between;
  padding: $m-size;
}

.widget-header__title {
  margin: 0;
}

.widget__message {
  color: $light-purple;
  padding: $l-size;
  text-align: center;
  border-bottom: 1px solid lighten($light-blue, 10%);
}
